<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home work</title>
</head>
<body>

<img src="https://4.bp.blogspot.com/-UblQpic1r3I/WULMPPA2CyI/AAAAAAAAnII/e8gwdvD1tRANAgVCELX4mK0RvUdd_ZvyACLcBGAs/s640/1.png">

<h1>Đinh Văn Hướng</h1>

<ul>
    <li>Birthday: 11/04/1995</li>
    <li>Email: Imissyoutlhp@gmail.com</li>
    <li>Mobile: 01634834166</li>
    <li>Marital status: Not yet</li>

</ul>

<h2>Education</h2>

<p>Kinh Công University</p>

<h2>Why did you come to Techkids ??</h2>

<p>I want to be a Coder</p>

<form>
    <button>Click me !!</button>
    <button style="background-color: aqua">Click me part 2 !!</button>

</form>


</body>
</html>